<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>kanata</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/leo/.pixi/bin/kanata</string>
      <string>--cfg</string>
      <string>/Users/leo/.config/kanata/kanata.kbd</string>
      <string>--port</string>
      <string>9999</string>
      <string>--nodelay</string>
      <string>--no-wait</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>StandardOutPath</key>
    <string>/tmp/kanata.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/kanata.err.log</string>
  </dict>
</plist>
